* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

main {
  background-image: url(../assets/BACKGROUND2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 835px;
}

.Container {
  margin-top: 2.2%;
  padding: 3%;
  margin-left: 6%;
}

.span1,
.span2 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
}

.span1 {
  color: #ff383e;
}

.span2 {
  color: #fff;
}

.Titulo {
  font-size: 75px;
  word-spacing: -1px;
}

@media screen and (max-width: 758px) {
  .Titulo {
    font-size: 67px;
    word-spacing: -1px;
  }

  .Container {
    margin-top: 22%;
  }

  main {
    height: 915px;
  }
}
